# Godot 4+ specific ignores
.godot/

.mono/
data_*/
mono_crash.*.json

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
